---
# Only the main Sass file needs front matter (the dashes are enough)
---

@charset "utf-8";

$grey: #C1CDD6;
$dark-red: #BD2C2C;
$red: #CF4848;
$light-red: #DF6262;
$black: #333333;
$dark-grey: #98A9B6;

$base-font-family: 'Merriweather', Helvetica, Arial, sans-serif;
$base-font-size:   20px;
$base-line-height: 1.5;

$small-font-size:  $base-font-size * 0.875;

$alternative-font-family: 'Raleway', sans-serif;

$spacing-unit:     30px;

$text-color: $black;
$background-color: #fdfdfd;

$brand-color: $red;
$brand-color-light: $light-red;
$brand-color-dark: $dark-red;

$grey-color: $grey;
$grey-color-light: lighten($grey-color, 10%);
$grey-color-dark: $dark-grey;

$content-width:    800px;

$on-palm:          600px;
$on-laptop:        800px;

// Using media queries with like this:
// @include media-query($on-palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }

@mixin media-query($device) {
    @media screen and (max-width: $device) {
        @content;
    }
}

@import "base";
@import "syntax-highlighting";

@import "mixins";
@import "components/sidebar";
@import "components/layout";
@import "components/posts_list";
@import "components/compact_post";
@import "components/page";
@import "components/post";
@import "components/text";
@import "components/paragraph";
@import "components/line";
