*, *:before, *:after {
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
  vertical-align: top;
  -webkit-tap-highlight-color: transparent; }

body {
  font-family: "Merriweather", Helvetica, Arial, sans-serif;
  font-size: 20px;
  line-height: 1.5;
  font-weight: 300;
  color: #333333;
  background-color: #fdfdfd;
  -webkit-text-size-adjust: 100%; }

a, a:visited {
  color: #333333;
  text-decoration: underline; }

.Page:after {
  content: "";
  display: table;
  clear: both; }

.icon > svg {
  display: inline-block;
  width: 16px;
  height: 16px;
  vertical-align: middle; }
  .icon > svg path {
    fill: #C1CDD6; }

/**
 * Syntax highlighting styles
 */
.highlight {
  background: #fff; }
  .highlight .c {
    color: #998;
    font-style: italic; }
  .highlight .err {
    color: #a61717;
    background-color: #e3d2d2; }
  .highlight .k {
    font-weight: bold; }
  .highlight .o {
    font-weight: bold; }
  .highlight .cm {
    color: #998;
    font-style: italic; }
  .highlight .cp {
    color: #999;
    font-weight: bold; }
  .highlight .c1 {
    color: #998;
    font-style: italic; }
  .highlight .cs {
    color: #999;
    font-weight: bold;
    font-style: italic; }
  .highlight .gd {
    color: #000;
    background-color: #fdd; }
  .highlight .gd .x {
    color: #000;
    background-color: #faa; }
  .highlight .ge {
    font-style: italic; }
  .highlight .gr {
    color: #a00; }
  .highlight .gh {
    color: #999; }
  .highlight .gi {
    color: #000;
    background-color: #dfd; }
  .highlight .gi .x {
    color: #000;
    background-color: #afa; }
  .highlight .go {
    color: #888; }
  .highlight .gp {
    color: #555; }
  .highlight .gs {
    font-weight: bold; }
  .highlight .gu {
    color: #aaa; }
  .highlight .gt {
    color: #a00; }
  .highlight .kc {
    font-weight: bold; }
  .highlight .kd {
    font-weight: bold; }
  .highlight .kp {
    font-weight: bold; }
  .highlight .kr {
    font-weight: bold; }
  .highlight .kt {
    color: #458;
    font-weight: bold; }
  .highlight .m {
    color: #099; }
  .highlight .s {
    color: #d14; }
  .highlight .na {
    color: #008080; }
  .highlight .nb {
    color: #0086B3; }
  .highlight .nc {
    color: #458;
    font-weight: bold; }
  .highlight .no {
    color: #008080; }
  .highlight .ni {
    color: #800080; }
  .highlight .ne {
    color: #900;
    font-weight: bold; }
  .highlight .nf {
    color: #900;
    font-weight: bold; }
  .highlight .nn {
    color: #555; }
  .highlight .nt {
    color: #000080; }
  .highlight .nv {
    color: #008080; }
  .highlight .ow {
    font-weight: bold; }
  .highlight .w {
    color: #bbb; }
  .highlight .mf {
    color: #099; }
  .highlight .mh {
    color: #099; }
  .highlight .mi {
    color: #099; }
  .highlight .mo {
    color: #099; }
  .highlight .sb {
    color: #d14; }
  .highlight .sc {
    color: #d14; }
  .highlight .sd {
    color: #d14; }
  .highlight .s2 {
    color: #d14; }
  .highlight .se {
    color: #d14; }
  .highlight .sh {
    color: #d14; }
  .highlight .si {
    color: #d14; }
  .highlight .sx {
    color: #d14; }
  .highlight .sr {
    color: #009926; }
  .highlight .s1 {
    color: #d14; }
  .highlight .ss {
    color: #990073; }
  .highlight .bp {
    color: #999; }
  .highlight .vc {
    color: #008080; }
  .highlight .vg {
    color: #008080; }
  .highlight .vi {
    color: #008080; }
  .highlight .il {
    color: #099; }

.Sidebar {
  position: relative;
  height: 100%;
  width: 100%;
  background-color: #DF6262;
  line-height: 1;
  z-index: 999; }
  .Sidebar .Sidebar-contentWrapper {
    width: 800px;
    margin: 0 auto;
    height: 100%;
    display: flex;
    display: -webkit-flex;
    align-items: center; }
  .Sidebar .Sidebar-picture,
  .Sidebar .Sidebar-title,
  .Sidebar .Sidebar-social,
  .Sidebar .Sidebar-socialItem {
    display: inline-block; }
  .Sidebar .Sidebar-picture {
    transform: translateY(50%);
    width: 100px;
    position: absolute;
    bottom: 0; }
    .Sidebar .Sidebar-picture img {
      border: 4px solid white;
      border-radius: 50%;
      max-width: 100%; }
  .Sidebar .Sidebar-title {
    margin-left: 130px;
    margin-right: 20px;
    font-family: "Raleway", sans-serif;
    color: white;
    line-height: 2;
    text-align: center; }
  .Sidebar .Sidebar-social {
    font-size: 20px;
    text-align: center; }
    .Sidebar .Sidebar-social, .Sidebar .Sidebar-social a {
      color: white; }
      .Sidebar .Sidebar-social:hover, .Sidebar .Sidebar-social a:hover {
        color: #CF4848; }
  .Sidebar .Sidebar-socialItem {
    display: inline-block;
    padding-top: 5px;
    margin-left: 20px; }

@media screen and (max-width: 600px) {
  .Sidebar {
    padding: 15px 0; }
    .Sidebar .Sidebar-contentWrapper {
      height: auto;
      display: block; }
    .Sidebar .Sidebar-picture,
    .Sidebar .Sidebar-title,
    .Sidebar .Sidebar-social {
      display: block;
      margin: 0 auto; }
    .Sidebar .Sidebar-picture {
      transform: translateY(0);
      position: relative;
      width: 100px;
      height: 100px;
      margin: 0 auto; }
    .Sidebar .Sidebar-social .Sidebar-socialItem {
      font-size: 30px;
      margin: 0 10px; }
    .Sidebar .Sidebar-contentWrapper {
      display: block;
      position: absolute;
      top: 50%;
      left: 0;
      width: 100%;
      transform: translateY(-50%);
      -webkit-transform: translateY(-50%); } }
.Layout {
  position: relative; }
  .Layout .Layout-sidebar {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100px;
    z-index: 1; }
  .Layout .Layout-content {
    margin-top: 200px;
    width: 100%; }

@media screen and (max-width: 600px) {
  .Layout .Layout-sidebar {
    position: relative;
    width: 100%;
    height: 90vh; }
  .Layout .Layout-content {
    width: 100%;
    margin-top: 0; } }
.PostsList {
  margin-left: 0;
  list-style: none; }
  .PostsList .PostsList-post:not(:last-child) {
    margin-bottom: 30px; }

.CompactPost {
  padding-bottom: 10px;
  text-decoration: none;
  display: block; }
  .CompactPost .CompactPost-title,
  .CompactPost .CompactPost-title > a {
    color: #333333;
    text-decoration: none; }
  .CompactPost .CompactPost-meta {
    position: relative;
    border-bottom: 1px solid #98A9B6;
    padding-bottom: 10px; }
  .CompactPost .CompactPost-meta:after {
    content: " ";
    position: absolute;
    bottom: -1px;
    left: 0;
    width: 0px;
    height: 3px;
    background-color: #CF4848;
    transition: width 0.3s ease-out;
    transition-delay: 0.3s; }
  .CompactPost:hover .CompactPost-meta:after {
    width: 100%; }

.Page {
  margin: 0 auto;
  max-width: -webkit-calc(800px - (30px * 2));
  max-width: calc(800px - (30px * 2));
  padding: 30px; }
  @media screen and (max-width: 800px) {
    .Page {
      max-width: -webkit-calc(800px - (30px));
      max-width: calc(800px - (30px));
      padding-right: 15px;
      padding-left: 15px; } }

.Post .Post-header {
  margin-bottom: 45px; }

.Post-content h1, .Post-content h2, .Post-content h3, .Post-content h4, .Post-content h5, .Post-content h6,
.Post-content p, .Post-content blockquote, .Post-content pre,
.Post-content ul, .Post-content ol, .Post-content dl, .Post-content figure,
.Post-content .highlight {
  margin-bottom: 15px; }
.Post-content img {
  max-width: 100%;
  vertical-align: middle; }
.Post-content figure > img {
  display: block; }
.Post-content figcaption {
  font-size: 17.5px; }
.Post-content ul, .Post-content ol {
  margin-left: 30px; }
.Post-content li > ul,
.Post-content li > ol {
  margin-bottom: 0; }
.Post-content h1, .Post-content h2, .Post-content h3, .Post-content h4, .Post-content h5, .Post-content h6 {
  font-family: "Raleway", sans-serif;
  font-weight: bold;
  margin-top: 45px; }
.Post-content a {
  color: #CF4848;
  text-decoration: none; }
  .Post-content a:hover {
    color: #CF4848; }
  .Post-content a:hover {
    text-decoration: underline; }
.Post-content blockquote {
  color: #C1CDD6;
  border-left: 4px solid #e0e6ea;
  padding-left: 15px;
  font-size: 18px;
  letter-spacing: -1px;
  font-style: italic; }
  .Post-content blockquote > :last-child {
    margin-bottom: 0; }
.Post-content pre,
.Post-content code {
  font-size: 15px;
  border-radius: 3px;
  background-color: #F5F6F5; }
.Post-content code {
  padding: 1px 5px; }
.Post-content pre {
  padding: 8px 12px;
  overflow-x: scroll; }
  .Post-content pre > code {
    border: 0;
    padding-right: 0;
    padding-left: 0; }

.Heading1, .Post .Post-title {
  font-family: "Raleway", sans-serif;
  font-weight: bold;
  font-size: 40px;
  line-height: 1.5; }

.Heading2, .CompactPost .CompactPost-title,
.CompactPost .CompactPost-title > a {
  font-family: "Raleway", sans-serif;
  font-size: 30px;
  line-height: 1.5; }

.Text {
  font-size: 20px;
  font-family: "Merriweather", Helvetica, Arial, sans-serif;
  color: #333333; }

.Text.Text-small {
  font-size: 17.5px; }

.Text.Text--branding {
  color: #BD2C2C;
  font-weight: bolder;
  text-decoration: none; }

.Paragraph {
  margin-bottom: 1rem; }

.Paragraph.Paragraph--noMargin {
  margin: 0; }

.Line {
  border: none;
  border-bottom: 1px solid black;
  margin: 1rem 0; }
