<div class="Sidebar">
  <div class="Sidebar-picture">
    {{ 'gabrielpoca@gmail.com' | gravatar:'Profile Picture' }}
  </div>
  <h2 class="Sidebar-title">Gabriel Poça</h2>
  <nav class="Sidebar-social">
    <ul>
      {% if site.github_username %}
        <li class="Sidebar-socialItem">
          <a href="https://github.com/{{ site.github_username }}"
            target="_blank">{% icon fa-github %}</a>
        </li>
      {% endif %}

      {% if site.twitter_username %}
        <li class="Sidebar-socialItem">
          <a href="https://twitter.com/{{ site.twitter_username }}"
            target="_blank">{% icon fa-twitter %}</a>
        </li>
      {% endif %}

      <li class="Sidebar-socialItem">
        <a href="{{ "/feed.xml" | prepend: site.baseurl }}"
          target="_blank">{% icon fa-rss %}</a>
      </li>
    </ul>
  </nav>
</div>
