<div class="Sidebar">
  <div class="Sidebar-picture">
    {{ 'gabrielpoca@gmail.com' | gravatar:'Profile Picture' }}
  </div>
  <h1 class="Sidebar-title">Gabriel Poça</h1>
  <nav class="Sidebar-social">
    <ul>
      <li class="Sidebar-socialItem">
        <a href="http://github.com/gabrielpoca" target="_blank">{% icon fa-github %}</a>
      </li>
      <li class="Sidebar-socialItem">
        <a href="http://twitter.com/gabrielgpoca" target="_blank">{% icon fa-twitter %}</a>
      </li>
    </ul>
  </nav>
</div>
