.Layout {
  $sidebar-height: 100px;

  .Layout-sidebar {
    width: 100%;
    height: $sidebar-height;
  }

  .Layout-content {
    margin-top: $sidebar-height;
    width: 100%;
  }
}

@include media-query($on-palm) {
  .Layout {
    .Layout-sidebar {
      position: relative;
      width: 100%;
      height: 90vh;
    }

    .Layout-content {
      width: 100%;
      margin-top: 0;
    }
  }
}

