.Sidebar {
  background-color: #eee;
  height: 100%;
  width: 100%;

  .Sidebar-picture {
    width: 120px;
    margin: 0 auto;

    img {
      border-radius: 50%;
      max-width: 100%;
    }
  }

  .Sidebar-title {
    font-family: $alternative-font-family;
    text-align: center;
  }

  .Sidebar-social {
    font-size: 40px;
    text-align: center;

    &, a {
      color: $text-color;
    }
  }

  .Sidebar-socialItem {
    display: inline-block;
  }
}
