.Sidebar {
  $picture-width: 100px;

  position: relative;
  height: 100%;
  width: 100%;
  background-color: $brand-color-light;
  line-height: 1;
  z-index: 999;

  .Sidebar-contentWrapper {
    width: $content-width;
    margin: 0 auto;
    height: 100%;
    display: flex;
    display: -webkit-flex;
    align-items: center;
  }

  .Sidebar-picture,
  .Sidebar-title,
  .Sidebar-social,
  .Sidebar-socialItem {
    display: inline-block;
  }

  .Sidebar-picture {
    transform: translateY(50%);
    width: $picture-width;
    position: absolute;
    bottom: 0;

    img {
      border: 4px solid white;
      border-radius: 50%;
      max-width: 100%;
    }
  }

  .Sidebar-title {
    margin-left: $picture-width * 1.3;
    margin-right: 20px;
    font-family: $alternative-font-family;
    color: white;
    line-height: 2;
    text-align: center;
  }

  .Sidebar-social {
    font-size: 20px;
    text-align: center;

    &, a {
      @include hover(color);
      color: white;
    }
  }

  .Sidebar-socialItem {
    display: inline-block;

    padding-top: 5px;
    margin-left: 20px; 
  }
}

@include media-query($on-palm) {
  .Sidebar {
    padding: $spacing-unit / 2 0;

    .Sidebar-contentWrapper {
      height: auto;
      display: block;
    }

    .Sidebar-picture,
    .Sidebar-title,
    .Sidebar-social {
      display: block;
      margin: 0 auto;
    }

    .Sidebar-picture {
      transform: translateY(0);
      position: relative;
      width: 100px;
      height: 100px;
      margin: 0 auto;
    }

    .Sidebar-social .Sidebar-socialItem {
      font-size: 30px;
      margin: 0 10px;
    }

    .Sidebar-contentWrapper {
      display: block;
      position: absolute;
      top: 50%;
      left: 0;
      width: 100%;
      transform: translateY(-50%);
      -webkit-transform: translateY(-50%);
    }
  }
}
