.Heading1 {
  font-family: $alternative-font-family;
  font-weight: bold;
  font-size: 40px;
  line-height: 1.5;
}

.Heading2 {
  font-family: $alternative-font-family;
  font-size: 30px;
  line-height: 1.5;
}

.Text {
  font-size: $base-font-size;
  font-family: $base-font-family;
  color: $text-color;
}

.Text.Text-small {
  font-size: $small-font-size;
}

.Text.Text--branding {
  color: $brand-color-dark;
  font-weight: bolder;
  text-decoration: none;
}
